{% extends 'base.html' %}
{% load static %}

{% block link_css%}
<link rel='stylesheet' href='{% static "css/base.css" %}'>
<link rel='stylesheet' href='{% static "css/cats.css" %}'>
{% endblock link_css%}

{% block img_header %}
<img src = 'https://images.unsplash.com/photo-1532386236358-a33d8a9434e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'>
{% endblock img_header %}

{% block h1%}
    <h1>Cats and Kittens Adoption</h1>
{% endblock h1%}

{% block title %}
  <title>Cats</title>
{% endblock title %}

{% block content %}
  <p>This is Cat Adoption page! </p>
{% endblock content %}

